extends layout

block content
  .container
     .col-sm-8.col-sm-offset-2.col-lg-12
        .jumbotron.text-center
            h1
              span.fa.fa-sign-in
                |  Signup
            hr  
            form(method='post', action='/users/register')
              .form-group
                label Name
                input.form-control(type='text', placeholder='Name', name='name')
              .form-group
                label Username
                input.form-control(type='text', placeholder='Username', name='username')
              .form-group
                label Email
                input.form-control(type='email', placeholder='Email', name='email')
              .form-group
                label Password
                input.form-control(type='password', placeholder='Password', name='password')
              .form-group
                label Confirm Password
                input.form-control(type='password', placeholder='Password', name='password2')
              button.btn.btn-default(type='submit') Submit
                
              hr
              span.fa.fa-sign-in
                | Already have an account?
                a(href='login')  Login
                p
                | Or go 
                a(href='/') home
                | .
